ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

li {
  float: right;
  border-right: 0.5px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 30px;
  font-size: 1.3rem;
  text-decoration: none;
}

li:hover {
  background-color: black;
}

#posts {
  border-left: 0.5px solid white;
}




