.inputBox {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-style: solid;
  border-color: rgb(59, 58, 58);
  border-radius: 10px;
  border-width: thin medium;
  margin-bottom: 1.2rem;
}

.inputBox:focus {
  background-color: #d3f1ff;
}

.foundItem {
  margin-left: 2rem;
}

legend {
  margin-top: 1rem;
}

.inputButton {
  padding: 5px 10px;
  cursor: pointer;
}
