.leaflet-container {
  width: 100%;
  height: 85vh;
}

#toggleButtonLost {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  width: 100%;
  background-color: red;
}

#toggleButtonLost:hover {
  background-color: black;
}

#toggleButtonFound {
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  width: 100%;
  background-color: green;
}

#toggleButtonFound:hover {
  background-color: black;
}

.createFormButton {
  background-color: rgb(78, 73, 73);
  color: white;
  height: 25px;
  width: 110px;
}

.createFormButton:hover {
  background-color: rgb(36, 33, 33);
}